*{
    padding: 0%;
}
body{
    background-image:url(img/7100112.jpg) ;
    background-attachment: fixed;
        background-size: cover;
        animation: fundomechendo 50s infinite linear;
    
    
    
}
/* --------- TITULO --------- */
.titulo{
    text-align: center;
    color: aliceblue;
    


font-size: 200%;
}
/* --------- BLOCOS ----------- */
.blocos{
    display: flex;
    flex-wrap: wrap;
    
       
        justify-content: center;
}

.bloco{
    width: 80%;
    height: auto;

    background-color: #e21448;
}




@keyframes fundomechendo {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
} 


